// Ansible managed. See original file for comprehensive comments

// Match only security updates
Unattended-Upgrade::Origins-Pattern {
        "origin=Debian,codename=${distro_codename},label=Debian-Security";
        "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
};

// Automatically reboot *WITHOUT CONFIRMATION* if
//  the file /var/run/reboot-required is found after the upgrade
Unattended-Upgrade::Automatic-Reboot "true";

// If automatic reboot is enabled and needed, reboot at the specific
// time instead of immediately
//  Default: "now"
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_upgrade_reboot_time }}";

// mail to which information on unattended upgrades is sent
Unattended-Upgrade::Mail "{{ unattended_upgrade_mail_address }}";

// Condition that triggers email report
Unattended-Upgrade::MailReport "{{ unattended_upgrade_mail_report_trigger }}";
