# /etc/dovecot/dovecot.conf
protocols = " imap lmtp pop3"

service lmtp {
 # postfix <--> dovecot unix socket for lmtp
 unix_listener /var/spool/postfix/private/dovecot-lmtp {
   mode = 0600
   user = postfix
   group = postfix
  }
}

service auth {
 # postfix <--> dovecot unix socket for SASL
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
}

protocol lmtp {
  postmaster_address = postmaster@myplatform.dataengineering.co.ke
}

mail_location = maildir:~/Maildir  # use maildir format

# use IMAP’s UIDVALIDITY and UID values
# to track downloaded messages
pop3_uidl_format = %08Xu%08Xv

# Authentication configuration:
# ---
auth_verbose = yes  # log reason for failures
auth_mechanisms = plain login # password sent in plain text over ssl

# If the domain is hostname/localhost, use only the name component
# to map to system user
# See: https://serverfault.com/a/1062274/980378
auth_username_format=%{if;%d;eq;{{ server_hostname }};%Ln;%Lu}

# Try authenticate via virtual user password file
passdb {
  driver = passwd-file
  args = /etc/dovecot/passwd
}
# Fall back to PAM (for system users)
passdb {
  driver = pam
}
# Use static info for virtual users
userdb {
  driver = static
  args = uid=vmail gid=vmail home=/home/vmail/%d/%n
}
# Fall back to /etc/passwd (for system users)
userdb {
  driver = passwd
}


# all below are default
mail_privileged_group = mail

namespace inbox {
  inbox = yes
  location = 
  mailbox Drafts {
    special_use = \Drafts
  }
  mailbox Junk {
    special_use = \Junk
  }
  mailbox Sent {
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    special_use = \Sent
  }
  mailbox Trash {
    special_use = \Trash
  }
  prefix = 
}
ssl_cert = </etc/dovecot/private/dovecot.pem
ssl_client_ca_dir = /etc/ssl/certs
ssl_dh = </usr/share/dovecot/dh.pem
ssl_key = </etc/dovecot/private/dovecot.key
