{% for domain, info in mail_domains.items() %}
{% for username, passwd in info.items() %}
{{ username }}@{{ domain }}:{BLF-CRYPT}{{ passwd | password_hash('blowfish', salt) }}::::::
{% endfor %}
{% endfor %}